@import "tailwindcss";

:root {
  --font-morabba: "Morabba", system-ui, -apple-system, sans-serif;
  --font-iransans: "IranSans", system-ui, -apple-system, sans-serif;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Morabba Font Family */
@font-face {
  font-family: "Morabba";
  src: url("/assets/fonts/Morabba/Morabba-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Morabba";
  src: url("/assets/fonts/Morabba/Morabba-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Morabba";
  src: url("/assets/fonts/Morabba/Morabba-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Morabba";
  src: url("/assets/fonts/Morabba/Morabba-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Morabba";
  src: url("/assets/fonts/Morabba/Morabba-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* IranSans Font Family */
@font-face {
  font-family: "IranSans";
  src: url("/assets/fonts/IranSans/IRANSansXFaNum-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IranSans";
  src: url("/assets/fonts/IranSans/IRANSansXFaNum-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IranSans";
  src: url("/assets/fonts/IranSans/IRANSansXFaNum-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IranSans";
  src: url("/assets/fonts/IranSans/IRANSansXFaNum-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IranSans";
  src: url("/assets/fonts/IranSans/IRANSansXFaNum-ExtraBold.ttf")
    format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
.font-morabba {
  font-family: "Morabba", sans-serif;
}
